body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #403a3b;
}

.piano-container{
    padding: 10px;
}

h1{
    margin-top: 0;
    padding: 0;
}

button{
    width: 100px;
    height: 400px;
    margin: 2px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.white-key{
    background-color:#cc6262; 
}

.black-key{
    background-color: #53020f;
    color: white;
}