body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(25deg, #928288, #403a3b 50%);
}

h1{
    color: white;
    text-align: center;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.color-container{
    background-color: rgb(15, 70, 70);
    width: 200px;
    height: 200px;
    color: #fff;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: solid black 2px;
    border-radius: 5px;
}

button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(191, 183, 183);
}