body{
    background: linear-gradient(25deg, #928288, #403a3b 50%);
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card{
    background-color: #9f3636;
    border-radius: 13px;
    box-shadow: 0px 0px 10px black;
    border: 10px solid #6c0416;
    max-width: 420px;
}

h1{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    color: white;
    /*border-radius: 10px 10px 0px 0px;*/
}

.clock{
    padding: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time-element{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin: 0px 10px;
}

.colon-element{
    font-weight: bold;
    color: black;
    margin: 0px 10px;
}